[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
imwatchingyou = "*"

[packages]
mtgarenacompanion = {editable = true, path = "."}
pysimpleguiqt = "*"
inspy-logger = "==2.0.0a.6"
coverage = "*"

[requires]
python_version = "3.6"

[scripts]
MTGArenaCompanion = 'python3 main.py'
